<h2>Get Registered!</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_path(@conn, :create) %>

<%= link "Login", to: user_path(@conn, :index) %>
|
<%= link "Back", to: user_path(@conn, :index) %>
