<h2>Update Password</h2>

<p>Please enter your new password</p>
<%= form_for @conn, user_path(@conn, :update_password), [as: :update_form], fn f -> %>
	<div class="form-group">
		<label>
			Password: <%= text_input f, :password, placeholder: "Password" %>
		</label>
	</div>
	<%= hidden_input f, :auth_id, value: @auth_id %>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>